.parallax {
    /* The image used */
    background-image: url("../../img/gauss_main.jpeg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }